<Files .htaccess>
Order allow,deny
Deny from all
</Files>

<Files "init.php">  
  Order Allow,Deny
  Deny from all
</Files>

#<Files "*.sql">  
#  Order Allow,Deny
#  Deny from all
#</Files>

<Files "conf.json">  
  Order Allow,Deny
  Deny from all
</Files>

# Disable directory browsing 
Options -Indexes