<style>
html, body {
  padding: 0;
  margin: 0;
  font-family: 'sofia-pro-soft';
}

.logo-left {
  padding-top: 10px;
  padding-left: 10px;
}

.main-logo {
  height: 50px;
  width: auto;
  display: none;
}

div.left {
  background: url('app/images/login-bg.svg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  width: 30%;
}

div.left div.left-center {
  text-align: center;
  color: #fff;

  padding-top: 150px;
}

div.left-center p.title {
  font-size: 35px;
}

div.left-center span.subtxt {
  font-size: 25px;
}

div.right {
  width: 70%;
  text-align: center;
  padding-top: 150px;
}

.logo {
  height: 50px;
  width: auto;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.form-control-new {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: none;
  border: none;
  background: transparent;

  width: 300px;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #111;

  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}

.form-control-new:focus {
  border-bottom: 2px solid #003F98;
}

h3.title {
  font-size: 35px;
  font-family: 'sofia-pro';
  color: #003F98;
}

input.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: none;
  border: none;
  background: transparent;

  color: #fff;
  background: #003F98;
  border: 2px solid #003F98;

  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;

  width: 300px;

  font-size: 16px;
}

input.btn:hover {
  color: #003F98;
  background: none;
  border: 2px solid #003F98;
  cursor: pointer;
}

a.link {
  color: #003F98;
  text-decoration: none;
}

@media screen and (max-width: 1245px){
  div.left {
    width: 40%;
  }

  div.right {
    width: 60%;
  }
}

@media screen and (max-width: 935px){
  div.left {
    width: 50%;
  }

  div.right {
    width: 50%;
  }
}

@media screen and (max-width: 793px){
  div.left {
    width: 0%;
    display: none;
  }

  div.right {
    width: 100%;
  }

  .main-logo {
    display: initial;
  }
}
</style>