<style>
  html, body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    color: #000;
    background-color: #fff;

    padding: 0;
    margin: 0;
  }

  div.container {
    background-color: #fff;
    
    border-radius: 10px;
    border: 1px solid rgb(234, 235, 237);

    padding-top: 20px;
    padding-bottom: 20px;
  }

  input.form-control-new {
    width: 100%;

    background-color: transparent;

    color: #111;
    
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;

    border: transparent;
    outline: transparent;
    border-bottom: 1px solid #666666;
    border-radius: 0;
  }

  input.form-control-new:focus {
    border: transparent;
    outline: transparent;
    border-bottom: 1px solid #006fff;

    transition-duration: 0.2s;
  }

  .btn {
    background-color: #006fff !important;
    border: transparent !important;
    border-radius: 5px;

    padding-left: 20px;
    padding-right: 20px;
  }

  .btn:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
  }

  div.align-right {
    float: right;
  }

  svg.logo {
    width: 30px;
    height: auto;
    fill: #006fff;
  }

  @media screen and (max-width: 488px){
    html, body {
      background: #fff;
    }
  
    div.container {
      background-color: #fff;
      
      border-radius: 0px;
  
      padding-top: 20px;
      padding-bottom: 20px;

      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0);

      width: 100%;
    }
  
    input.form-control-new {
      width: 100%;
  
      background-color: transparent;
  
      color: #111;
      
      padding-top: 10px;
      padding-bottom: 5px;
      padding-left: 10px;
  
      border: transparent;
      outline: transparent;
      border-bottom: 1px solid #666666;
      border-radius: 0;
    }
  
    input.form-control-new:focus {
      border: transparent;
      outline: transparent;
      border-bottom: 1px solid #006fff;
  
      transition-duration: 0.2s;
    }
  
    .btn {
      background-color: #006fff !important;
      border: transparent !important;
      border-radius: 0px;
  
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .btn:hover {
      opacity: 0.5;
      transition-duration: 0.2s;
    }
  
    div.align-right {
      float: right;
    }
  
    svg.logo {
      width: 30px;
      height: auto;
      fill: #006fff;
    }
  }
</style>