/*
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    FONTS
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/
@font-face {
  font-family: 'SF UI Text Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Regular'), url('fonts/SFUIText-Regular.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Italic'), url('fonts/SFUIText-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Text Light';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Light'), url('fonts/SFUIText-Light.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Light Italic'), url('fonts/SFUIText-LightItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Medium'), url('fonts/SFUIText-Medium.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Medium Italic'), url('fonts/SFUIText-MediumItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Semibold'), url('fonts/SFUIText-Semibold.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Semibold Italic'), url('fonts/SFUIText-SemiboldItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Bold'), url('fonts/SFUIText-Bold.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Bold Italic'), url('fonts/SFUIText-BoldItalic.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Heavy'), url('fonts/SFUIText-Heavy.woff') format('woff');
}
  
@font-face {
  font-family: 'SF UI Text Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Text Heavy Italic'), url('fonts/SFUIText-HeavyItalic.woff') format('woff');
}

/*
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    GLOBAL
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/
html, body {
  background: #fff;
  color: #111;

  padding: 0;
  margin: 0;

  font-family: 'SF UI Text Regular', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    PAGE CONTENT
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/
div.top-nav {
  width: 100%;
  background: #f3f7f8;
}

div.top-nav-inner {
  padding: 5px;
}

div.top-nav img.logo {
  height: 32px;
  width: auto;
}

div.content-main {
  padding-top: 100px;
  padding-left: 30%;
  padding-right: 30%;
}

img.theme-icon {
  width: 100%;
  height: auto;
}

div.float-right {
  text-align: right;
}

.btn {
  background: #4169E1;
  color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

span.btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.form-control-settings {
  /*Remove all of the background shadows*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  
  width: 50px;
  outline: none;
  border: none;
  text-align: center;
  padding: 5px;
  color: #111;
  background: #ededed;
}

/*
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    DARK
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/
html.dark, body.dark {
  background: #27262c;
  color: #fff;
}

body.dark div.top-nav {
  background: #2d2c32;
}

html.black, body.black {
  background: #1c1d22;
  color: #fff;
}

body.black div.top-nav {
  background: #25252d;
}

/*
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    RESPONSIVE
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
*/
@media screen and (max-width: 1426px){
  div.content-main {
    padding-top: 100px;
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media screen and (max-width: 1175px){
  div.content-main {
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (max-width: 925px){
  div.content-main {
    padding-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 790px){
  div.content-main {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 664px){
  div.content-main {
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 542px){
  div.content-main {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 471px){
  div.content-main {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .column {
    float: left;
    width: 100%;

    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 417px){
  .column {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-height: 667px){
  div.content-main {
    padding-top: 10px;
  }
}