<style>
  html, body {
    background-color: #ecedf1;
    color: #111;
    font-family: Arial;

    padding: 0;
    margin: 0;
  }

  .charts {
    height: 500px;
    width: 100%;
    background: none !important;
  }

  div.container {
    padding-left: 250px;
    padding-right: 250px;
  }

  div.container-inner {
    background: #fff;
    border: 1px solid #d4d4d4;

    border-radius: 10px;

    padding: 15px;
  }

  .link {
    color: #006fff;
    text-decoration: none;
  }

  .logo {
    height: 17px;
    width: auto;
  }

  .topnav {
    overflow: hidden;
    background-color: #fff;
    padding: 5px;
  }

  .topnav a {
    float: left;
    color: #111;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: #111;
    border-radius: 50px;
  }

  .topnav a.active {
    background-color: #006fff;
    color: white;
    border-radius: 50px;
  }

  div.main {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #ddd;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #006fff;
    color: white;
  }

  .green {
    color: #099975;
  }

  .red {
    color: red;
  }

  .form-control-settings { /* Form styles in the settings page */
    /*Remove all of the background shadows*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    border: 1px solid grey;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    border-radius: 5px;
  }

  .form-control-submit {
    /*Remove all of the background shadows*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 5px;

    background-color: #111;
    border: 1px solid #111;
    color: #fff;
  }
  
  .form-control-submit:hover {
    color: #111;
    background: transparent;
    cursor: pointer;
  }

  button.form-control-settings-expand {
    /*Remove all of the background shadows*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 5px;

    background-color: #111;
    border: 1px solid #111;
    color: #fff;
  }

  button.form-control-settings-expand:hover {
    color: #111;
    background: transparent;
    cursor: pointer;
  }

  .settings-dropdown-inner {
    padding-left: 10px;
  }

  .settings-right {
    text-align: right;
  }
  
  .settings-column {
    float: left;
    width: 50%;
  }

  .settings-row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 1357px){
    div.container {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  @media screen and (max-width: 629px){
    div.container {
      padding-left: 0px;
      padding-right: 0px;
    }

    .charts {
      height: 300px;
      width: 100%;
      background: none !important;
    }
  }
</style>